## Pandas 기술 통계, 결측치 처리 실습

In [51]:
import pandas as pd

### 데이터 불러오기

In [52]:
# 따릉이_cat2.csv 파일을 읽어서 df에 저장하세요.
df = pd.read_csv('./dataset/따릉이_cat2.csv')
df

,hour,temperature,precipitation,windspeed,humidity,visibility,ozone,pm10,pm2.5,count
0,5,NaN,no,0.3,78.0,1521.0,0.021,28.0,28.0,8
1,22,20.2,NaN,2.8,54.0,2000.0,0.022,28.0,21.0,195
2,11,24.4,no,1.9,41.0,1362.0,0.035,48.0,27.0,90
3,11,15.0,no,1.4,50.0,1517.0,0.030,48.0,24.0,86
4,2,13.6,no,1.7,80.0,1073.0,0.027,34.0,15.0,39
...,...,...,...,...,...,...,...,...,...,...
1054,13,21.2,no,4.2,26.0,1542.0,0.056,129.0,27.0,108
1055,2,11.3,no,1.6,71.0,791.0,0.027,74.0,34.0,66
1056,17,25.7,no,3.5,35.0,1951.0,0.069,51.0,27.0,200
1057,12,NaN,no,1.8,29.0,869.0,0.032,73.0,33.0,129
1058,0,20.6,no,2.0,71.0,827.0,0.047,60.0,35.0,80

In [53]:
# df의 정보를 조회하세요.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059 entries, 0 to 1058
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   hour           1059 non-null   int64
 1   temperature    794 non-null    float64
 2   precipitation  961 non-null    object
 3   windspeed      1059 non-null   float64
 4   humidity       932 non-null    float64
 5   visibility     1059 non-null   float64
 6   ozone          1059 non-null   float64
 7   pm10           1059 non-null   float64
 8   pm2.5          1059 non-null   float64
 9   count          1059 non-null   int64
dtypes: float64(7), int64(2), object(1)
memory usage: 82.9+ KB

In [54]:
# df의 데이터 타입을 조회하세요.
df.dtypes

hour               int64
temperature      float64
precipitation     object
windspeed        float64
humidity         float64
visibility       float64
ozone            float64
pm10             float64
pm2.5            float64
count              int64
dtype: object

In [55]:
# df의 열 별 결측치를 조회하세요.
df.isna().sum()

hour               0
temperature      265
precipitation     98
windspeed          0
humidity         127
visibility         0
ozone              0
pm10               0
pm2.5              0
count              0
dtype: int64

In [56]:
# 열 별 고윳값의 개수를 조회하세요.
df.nunique()

hour              23
temperature      212
precipitation      2
windspeed         68
humidity          90
visibility       622
ozone             92
pm10             135
pm2.5             78
count            298
dtype: int64

In [57]:
# df의 통계 요약을 출력하세요.
df.describe()

,hour,temperature,windspeed,humidity,visibility,ozone,pm10,pm2.5,count
count,1059.000000,794.000000,1059.000000,932.000000,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000
mean,12.069877,16.788287,2.503494,51.579399,1415.136922,0.039406,57.372049,30.296506,112.800755
std,6.741993,5.083281,1.370433,20.224070,576.023797,0.019196,31.235271,14.895315,84.159207
min,0.000000,3.100000,0.000000,7.000000,106.000000,0.003000,9.000000,8.000000,1.000000
25%,6.000000,12.900000,1.400000,36.000000,895.500000,0.026000,36.000000,20.000000,37.500000
50%,12.000000,16.600000,2.400000,50.000000,1582.000000,0.039000,52.000000,26.000000,101.000000
75%,18.000000,20.075000,3.400000,67.250000,1996.000000,0.052000,70.000000,37.000000,158.000000
max,23.000000,30.000000,8.000000,99.000000,2000.000000,0.112000,269.000000,90.000000,431.000000

In [58]:
# 고윳값의 개수가 30개 미만인 변수의 목록과 30개 이상인 변수의 목록 출력
print('30개 미만인 변수:', list(df.nunique()[df.nunique()<30].index))
print('30개 이상인 변수:', list(df.nunique()[df.nunique()>=30].index))

30개 미만인 변수: ['hour', 'precipitation']
30개 이상인 변수: ['temperature', 'windspeed', 'humidity', 'visibility', 'ozone', 'pm10', 'pm2.5', 'count']

In [59]:
# hour, precipitation 열의 고윳값 별 데이터 빈도 수를 출력하세요. 
# hour의 index는 시간 순서대로 정렬하세요.
display(df['hour'].value_counts().sort_index())
display(df['precipitation'].value_counts())

hour
0     41
2     49
3     47
4     46
5     41
6     48
7     43
8     50
9     46
10    48
11    47
12    44
13    43
14    47
15    45
16    46
17    42
18    43
19    47
20    51
21    46
22    46
23    53
Name: count, dtype: int64

precipitation
no     933
yes     28
Name: count, dtype: int64

In [60]:
# hour, precipitation 열의 고윳값 별 데이터 비율을 출력하세요. 
# hour의 index는 시간 순서대로 정렬하세요.
display(df['hour'].value_counts(normalize=True).sort_index())
display(df['precipitation'].value_counts(normalize=True))

hour
0     0.038716
2     0.046270
3     0.044381
4     0.043437
5     0.038716
6     0.045326
7     0.040604
8     0.047214
9     0.043437
10    0.045326
11    0.044381
12    0.041549
13    0.040604
14    0.044381
15    0.042493
16    0.043437
17    0.039660
18    0.040604
19    0.044381
20    0.048159
21    0.043437
22    0.043437
23    0.050047
Name: proportion, dtype: float64

precipitation
no     0.970864
yes    0.029136
Name: proportion, dtype: float64

In [61]:
# hour 열의 unique와 unique의 개수를 출력하세요.
print(df['hour'].unique())
df['hour'].nunique()

[ 5 22 11  2 10  0  8 20 14 15  4 17  9 23 18  6 19  7 21  3 16 12 13]

23

In [62]:
# hour, precipitation 열의 최빈값을 출력하세요.
print(df['hour'].mode())
print(df['precipitation'].mode())

0    23
Name: hour, dtype: int64
0    no
Name: precipitation, dtype: object

In [63]:
# 기온의 평균, 표준편차, 최고, 최저 값을 각각 출력하세요.
# 소수점 셋째자리까지 출력하세요.
print(f'평균 기온: {df["temperature"].mean():.3f}')
print(f'표준편차: {df["temperature"].std():.3f}')
print('최고 기온:', df['temperature'].max())
print('최저 기온:', df['temperature'].min())

평균 기온: 16.788
표준편차: 5.083
최고 기온: 30.0
최저 기온: 3.1

In [64]:
# 기온의 평균, 최고, 최저 값을 시리즈로 출력하세요. 
# 소수점 셋째자리까지 출력하세요.
df['temperature'].agg(['mean', 'max','min']).round(3)

mean    16.788
max     30.000
min      3.100
Name: temperature, dtype: float64

In [65]:
# 풍속의 평균, 모분산, 표본분산을 출력하세요.
def var0(x):
    return x.var(ddof=0)

df['windspeed'].agg(평균='mean', 모분산=var0, 표본분산='var')

평균      2.503494
모분산     1.876315
표본분산    1.878088
Name: windspeed, dtype: float64

In [66]:
# 풍속의 평균, 모분산, 표본분산을 출력하세요.
def var0(x):
    return x.var(ddof=0)

df['windspeed'].agg(평균='mean', 모분산=lambda x: x.var(ddof=0), 표본분산='var')

평균      2.503494
모분산     1.876315
표본분산    1.878088
Name: windspeed, dtype: float64

In [67]:
# 습도의 중앙값, 최소, 최대, 범위를 출력하세요.
def x_range(x):
    return x.max() - x.min()

df['humidity'].agg(중앙값=('median'), 최댓값=('max'), 최솟값=('min'), 범위=(x_range))

중앙값    50.0
최댓값    99.0
최솟값     7.0
범위     92.0
Name: humidity, dtype: float64

In [68]:
# 가시거리의 평균, 표준편차(표본), 중앙값, IQR, 최소, 최댓값을 출력하세요.
# 소수점 넷째자리까지 출력하세요.
def IQR(x):
    return x.quantile(.75) - x.quantile(.25)

df['visibility'].agg(평균=('mean'),
                     표준편차=('std'),
                     중앙값=('median'),
                     IQR=(IQR), 최솟값=('min'), 최댓값='max').round(4)

평균      1415.1369
표준편차     576.0238
중앙값     1582.0000
IQR     1100.5000
최솟값      106.0000
최댓값     2000.0000
Name: visibility, dtype: float64

In [69]:
# IQR 방식을 이용하여 가시거리에 이상치(outlier)가 있는지 확인하세요.
Q1 = df['visibility'].quantile(.25)
Q3 = df['visibility'].quantile(.75)
IQR = Q3-Q1
tukey_max = Q3 + 1.5*IQR
tukey_min = Q1 - 1.5*IQR

df[(df['visibility'] > tukey_max) | (df['visibility'] < tukey_min)]

Empty DataFrame
Columns: [hour, temperature, precipitation, windspeed, humidity, visibility, ozone, pm10, pm2.5, count]
Index: []

In [70]:
# IQR 방식을 이용하여 풍속에 이상치(outlier)가 있는지 확인하세요.
Q1 = df['windspeed'].quantile(.25)
Q3 = df['windspeed'].quantile(.75)
IQR = Q3-Q1
tukey_max = Q3 + 1.5*IQR
tukey_min = Q1 - 1.5*IQR

df[(df['windspeed'] > tukey_max) | (df['windspeed'] < tukey_min)]

,hour,temperature,precipitation,windspeed,humidity,visibility,ozone,pm10,pm2.5,count
362,12,17.3,NaN,7.7,NaN,1999.0,0.051,60.0,12.0,21
452,14,14.6,NaN,6.7,14.0,2000.0,0.048,59.0,11.0,93
511,18,NaN,no,6.5,36.0,1353.0,0.054,122.0,19.0,101
888,13,NaN,no,7.5,43.0,2000.0,0.053,55.0,17.0,3
1025,16,18.4,yes,8.0,77.0,1006.0,0.060,61.0,27.0,46

In [71]:
# 오존, 미세먼지, 초미세먼지의 평균, 표준편차(표본), 최소, 최댓값을 출력하세요.
df[['ozone', 'pm10', 'pm2.5']].agg(['mean', 'std', 'min', 'max'])

         ozone        pm10      pm2.5
mean  0.039406   57.372049  30.296506
std   0.019196   31.235271  14.895315
min   0.003000    9.000000   8.000000
max   0.112000  269.000000  90.000000

In [72]:
# 미세먼지나 초미세먼지가 평균치를 초과했던 데이터를 추출하여 출력하고,
# 전체 데이터 중 몇 퍼센트에 해당하는지 출력하세요.
pm10_mean = df['pm10'].mean()
pm25_mean = df['pm2.5'].mean()

df1025초과 = df[(df['pm10']>pm10_mean)|(df['pm2.5']>pm25_mean)]
display(df1025초과)
print(f'미세먼지나 초미세먼지가 평균치를 초과했던 경우는 전체 {len(df)}건 중 {len(df1025초과)}건으로 약 {len(df1025초과)/len(df)*100:.2f}%입니다.')

,hour,temperature,precipitation,windspeed,humidity,visibility,ozone,pm10,pm2.5,count
6,0,18.8,no,2.5,51.0,1638.0,0.051,51.0,35.0,106
11,15,21.9,no,5.4,21.0,1907.0,0.062,92.0,19.0,139
13,8,11.6,no,2.0,NaN,1143.0,0.010,64.0,51.0,35
14,11,20.3,NaN,2.4,69.0,670.0,0.054,58.0,38.0,85
15,17,19.5,NaN,2.6,54.0,579.0,0.059,66.0,51.0,195
...,...,...,...,...,...,...,...,...,...,...
1053,3,NaN,no,1.1,54.0,848.0,0.007,81.0,73.0,8
1054,13,21.2,no,4.2,26.0,1542.0,0.056,129.0,27.0,108
1055,2,11.3,no,1.6,71.0,791.0,0.027,74.0,34.0,66
1057,12,NaN,no,1.8,29.0,869.0,0.032,73.0,33.0,129
1058,0,20.6,no,2.0,71.0,827.0,0.047,60.0,35.0,80

미세먼지나 초미세먼지가 평균치를 초과했던 경우는 전체 1059건 중 513건으로 약 48.44%입니다.

In [73]:
# 미세먼지와 초미세먼지가 모두 평균치를 초과했던 날의 데이터를 추출하세요.
pm10_mean = df['pm10'].mean()
pm25_mean = df['pm2.5'].mean()

df1025초과 = df[(df['pm10']>pm10_mean)&(df['pm2.5']>pm25_mean)]
display(df1025초과)
print(f'미세먼지와 초미세먼지가 모두 평균치를 초과했던 경우는 전체 {len(df)}건 중 {len(df1025초과)}건으로 약 {len(df1025초과)/len(df)*100:.2f}%입니다.')

,hour,temperature,precipitation,windspeed,humidity,visibility,ozone,pm10,pm2.5,count
13,8,11.6,no,2.0,NaN,1143.0,0.010,64.0,51.0,35
14,11,20.3,NaN,2.4,69.0,670.0,0.054,58.0,38.0,85
15,17,19.5,NaN,2.6,54.0,579.0,0.059,66.0,51.0,195
20,8,NaN,no,0.9,77.0,613.0,0.005,82.0,40.0,35
25,9,16.4,no,1.0,62.0,503.0,0.072,86.0,51.0,57
...,...,...,...,...,...,...,...,...,...,...
1052,22,21.9,no,3.1,65.0,1070.0,0.059,64.0,37.0,216
1053,3,NaN,no,1.1,54.0,848.0,0.007,81.0,73.0,8
1055,2,11.3,no,1.6,71.0,791.0,0.027,74.0,34.0,66
1057,12,NaN,no,1.8,29.0,869.0,0.032,73.0,33.0,129
1058,0,20.6,no,2.0,71.0,827.0,0.047,60.0,35.0,80

미세먼지와 초미세먼지가 모두 평균치를 초과했던 경우는 전체 1059건 중 312건으로 약 29.46%입니다.

In [74]:
# 대여량(count)의 평균, 중앙값, 최소, 최댓값을 출력하세요.
df['count'].agg(['mean', 'median', 'min', 'max'])

mean      112.800755
median    101.000000
min         1.000000
max       431.000000
Name: count, dtype: float64

In [75]:
# 대여량(count)를 아래 구간값을 이용하여 구간화(binning)하고 
# 각 구간별 데이터 수를 출력하세요.
# 구간값 = [0, 50, 100, 150, 200, 250, 300, 350, 400, 450]
bins = pd.cut(df['count'], bins=[0, 50, 100, 150, 200, 250, 300, 350, 400, 450])
bins.value_counts().sort_index()

count
(0, 50]       302
(50, 100]     222
(100, 150]    256
(150, 200]    103
(200, 250]     98
(250, 300]     41
(300, 350]     30
(350, 400]      5
(400, 450]      2
Name: count, dtype: int64

In [76]:
# 모든 수치형 변수 간의 상관 계수를 소수점 넷째자리까지 출력하세요.
df.corr().round(4)

ValueError: could not convert string to float: 'no'

In [77]:
df.info()    
con_val = ['hour','temperature','windspeed','humidity','visibility','ozone','pm10','pm2.5', 'count']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059 entries, 0 to 1058
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   hour           1059 non-null   int64
 1   temperature    794 non-null    float64
 2   precipitation  961 non-null    object
 3   windspeed      1059 non-null   float64
 4   humidity       932 non-null    float64
 5   visibility     1059 non-null   float64
 6   ozone          1059 non-null   float64
 7   pm10           1059 non-null   float64
 8   pm2.5          1059 non-null   float64
 9   count          1059 non-null   int64
dtypes: float64(7), int64(2), object(1)
memory usage: 82.9+ KB

In [ ]:
df

,hour,temperature,precipitation,windspeed,humidity,visibility,ozone,pm10,pm2.5,count
0,5,NaN,no,0.3,78.0,1521.0,0.021,28.0,28.0,8
1,22,20.2,NaN,2.8,54.0,2000.0,0.022,28.0,21.0,195
2,11,24.4,no,1.9,41.0,1362.0,0.035,48.0,27.0,90
3,11,15.0,no,1.4,50.0,1517.0,0.030,48.0,24.0,86
4,2,13.6,no,1.7,80.0,1073.0,0.027,34.0,15.0,39
...,...,...,...,...,...,...,...,...,...,...
1054,13,21.2,no,4.2,26.0,1542.0,0.056,129.0,27.0,108
1055,2,11.3,no,1.6,71.0,791.0,0.027,74.0,34.0,66
1056,17,25.7,no,3.5,35.0,1951.0,0.069,51.0,27.0,200
1057,12,NaN,no,1.8,29.0,869.0,0.032,73.0,33.0,129
1058,0,20.6,no,2.0,71.0,827.0,0.047,60.0,35.0,80

In [ ]:
# count와 나머지 변수들 간의 상관 계수를 출력하세요.
df.corrwith(df['count'])

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
df.corr().abs().stack().sort_values(ascending=False)

ValueError: could not convert string to float: 'no'

In [ ]:
# count 변수를 제외한 나머지 변수 간 상관 계수의 절댓값이 0.9 이상인 변수를 출력하세요.
s = df.corr().abs().stack().sort_values(ascending=False)
idx = list(map(lambda x: x[0] != x[1], s.index))
s = s[idx]
print(s)
s[s>=0.9]

visibility  pm2.5         0.641570
pm2.5       visibility    0.641570
count       hour          0.613716
hour        count         0.613716
visibility  humidity      0.613321
                            ...
pm10        hour          0.044459
ozone       pm2.5         0.009370
pm2.5       ozone         0.009370
pm10        windspeed     0.008315
windspeed   pm10          0.008315
Length: 72, dtype: float64

Series([], dtype: float64)

In [ ]:
# df의 열 별 결측치 수를 조회하세요.
df.isna().sum()

hour               0
temperature      265
precipitation     98
windspeed          0
humidity         127
visibility         0
ozone              0
pm10               0
pm2.5              0
count              0
dtype: int64

In [ ]:
# df의 행 별 결측치 수를 조회하세요.
df.isna().sum(axis=1)

0       1
1       1
2       0
3       0
4       0
       ..
1054    0
1055    0
1056    0
1057    1
1058    0
Length: 1059, dtype: int64

In [ ]:
# df의 전체 결측치 수를 조회하세요.
df.isna().sum().sum()

490

In [ ]:
# df 열 중 전체가 na인 열이 있는지 조회하세요.
df.loc[:, ~df.any()]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1059 rows x 0 columns]

In [ ]:
# df 행 중 전체가 na인 행이 있는지 조회하세요.
df.loc[~df.any(axis=1), :]

Empty DataFrame
Columns: [hour, temperature, precipitation, windspeed, humidity, visibility, ozone, pm10, pm2.5, count]
Index: []

In [ ]:
# 기온 열을 평균으로 대체하세요.
df['temperature'] = df['temperature'].fillna(df['temperature'].mean())
df

,hour,temperature,precipitation,windspeed,humidity,visibility,ozone,pm10,pm2.5,count
0,5,16.788287,no,0.3,78.0,1521.0,0.021,28.0,28.0,8
1,22,20.200000,NaN,2.8,54.0,2000.0,0.022,28.0,21.0,195
2,11,24.400000,no,1.9,41.0,1362.0,0.035,48.0,27.0,90
3,11,15.000000,no,1.4,50.0,1517.0,0.030,48.0,24.0,86
4,2,13.600000,no,1.7,80.0,1073.0,0.027,34.0,15.0,39
...,...,...,...,...,...,...,...,...,...,...
1054,13,21.200000,no,4.2,26.0,1542.0,0.056,129.0,27.0,108
1055,2,11.300000,no,1.6,71.0,791.0,0.027,74.0,34.0,66
1056,17,25.700000,no,3.5,35.0,1951.0,0.069,51.0,27.0,200
1057,12,16.788287,no,1.8,29.0,869.0,0.032,73.0,33.0,129
1058,0,20.600000,no,2.0,71.0,827.0,0.047,60.0,35.0,80

In [ ]:
# 열 별 결측치 수를 다시 조회하세요.
df.isna().sum()

hour               0
temperature        0
precipitation     98
windspeed          0
humidity         127
visibility         0
ozone              0
pm10               0
pm2.5              0
count              0
dtype: int64

In [ ]:
# 비가 온 날의 습도의 평균을 출력하세요.
df.loc[df['precipitation'] == 'yes', ['humidity']].agg(['mean'])

       humidity
mean  80.346154

In [ ]:
# 강수 여부 변수의 결측치를 습도가 80.35% 이상이면 'yes'
# 80.35% 미만이면 'no'로 대체하세요.
# 습도가 결측치인 경우는 그대로 결측치로 유지하세요.
df_prena = df.loc[df['precipitation'].isna()]
df_prena.loc[df['humidity']>=80.35, 'precipitation'] = 'yes'
df_prena.loc[df['humidity']<80.35, 'precipitation'] = 'no'
df.loc[df_prena.index, 'precipitation'] = df_prena['precipitation']
df

,hour,temperature,precipitation,windspeed,humidity,visibility,ozone,pm10,pm2.5,count
0,5,16.788287,no,0.3,78.0,1521.0,0.021,28.0,28.0,8
1,22,20.200000,no,2.8,54.0,2000.0,0.022,28.0,21.0,195
2,11,24.400000,no,1.9,41.0,1362.0,0.035,48.0,27.0,90
3,11,15.000000,no,1.4,50.0,1517.0,0.030,48.0,24.0,86
4,2,13.600000,no,1.7,80.0,1073.0,0.027,34.0,15.0,39
...,...,...,...,...,...,...,...,...,...,...
1054,13,21.200000,no,4.2,26.0,1542.0,0.056,129.0,27.0,108
1055,2,11.300000,no,1.6,71.0,791.0,0.027,74.0,34.0,66
1056,17,25.700000,no,3.5,35.0,1951.0,0.069,51.0,27.0,200
1057,12,16.788287,no,1.8,29.0,869.0,0.032,73.0,33.0,129
1058,0,20.600000,no,2.0,71.0,827.0,0.047,60.0,35.0,80

In [ ]:
# 강수 여부 변수의 결측치를 습도가 80.35% 이상이면 'yes'
# 80.35% 미만이면 'no'로 대체하세요.
# 습도가 결측치인 경우는 그대로 결측치로 유지하세요.
# def fill_prec(x):
#     if x['humidity'] >= 80.35:
#         return 'yes'
#     elif x['humidity'] < 80.35:
#         return 'no'
#     else:
#         return x['precipitation']
    
# df.loc[df['precipitation'].isna(), 'precipitation'] = df.loc[df['precipitation'].isna()].apply(fill_prec, axis=1)
# df

In [ ]:
# 열 별 결측치를 다시 조회하세요.
df.isna().sum()

hour               0
temperature        0
precipitation     18
windspeed          0
humidity         127
visibility         0
ozone              0
pm10               0
pm2.5              0
count              0
dtype: int64

In [ ]:
# 강수 여부가 결측치인 행을 삭제하세요.
df = df.drop(df.loc[df['precipitation'].isna()].index)
df

,hour,temperature,precipitation,windspeed,humidity,visibility,ozone,pm10,pm2.5,count
0,5,16.788287,no,0.3,78.0,1521.0,0.021,28.0,28.0,8
1,22,20.200000,no,2.8,54.0,2000.0,0.022,28.0,21.0,195
2,11,24.400000,no,1.9,41.0,1362.0,0.035,48.0,27.0,90
3,11,15.000000,no,1.4,50.0,1517.0,0.030,48.0,24.0,86
4,2,13.600000,no,1.7,80.0,1073.0,0.027,34.0,15.0,39
...,...,...,...,...,...,...,...,...,...,...
1054,13,21.200000,no,4.2,26.0,1542.0,0.056,129.0,27.0,108
1055,2,11.300000,no,1.6,71.0,791.0,0.027,74.0,34.0,66
1056,17,25.700000,no,3.5,35.0,1951.0,0.069,51.0,27.0,200
1057,12,16.788287,no,1.8,29.0,869.0,0.032,73.0,33.0,129
1058,0,20.600000,no,2.0,71.0,827.0,0.047,60.0,35.0,80

In [ ]:
# 열 별 결측치를 다시 조회하세요.
df.isna().sum()

hour               0
temperature        0
precipitation      0
windspeed          0
humidity         109
visibility         0
ozone              0
pm10               0
pm2.5              0
count              0
dtype: int64

In [ ]:
# 습도 열을 ffill로 보간하세요.
df['humidity'] = df['humidity'].fillna(method='ffill')
df

,hour,temperature,precipitation,windspeed,humidity,visibility,ozone,pm10,pm2.5,count
0,5,16.788287,no,0.3,78.0,1521.0,0.021,28.0,28.0,8
1,22,20.200000,no,2.8,54.0,2000.0,0.022,28.0,21.0,195
2,11,24.400000,no,1.9,41.0,1362.0,0.035,48.0,27.0,90
3,11,15.000000,no,1.4,50.0,1517.0,0.030,48.0,24.0,86
4,2,13.600000,no,1.7,80.0,1073.0,0.027,34.0,15.0,39
...,...,...,...,...,...,...,...,...,...,...
1054,13,21.200000,no,4.2,26.0,1542.0,0.056,129.0,27.0,108
1055,2,11.300000,no,1.6,71.0,791.0,0.027,74.0,34.0,66
1056,17,25.700000,no,3.5,35.0,1951.0,0.069,51.0,27.0,200
1057,12,16.788287,no,1.8,29.0,869.0,0.032,73.0,33.0,129
1058,0,20.600000,no,2.0,71.0,827.0,0.047,60.0,35.0,80

In [ ]:
# 열 별 결측치를 다시 조회하세요.
df.isna().sum()

hour             0
temperature      0
precipitation    0
windspeed        0
humidity         0
visibility       0
ozone            0
pm10             0
pm2.5            0
count            0
dtype: int64

In [ ]:
# 통계 요약을 출력하세요.
df.describe()

,hour,temperature,windspeed,humidity,visibility,ozone,pm10,pm2.5,count
count,1041.000000,1041.000000,1041.000000,1041.000000,1041.000000,1041.000000,1041.000000,1041.000000,1041.000000
mean,12.041306,16.781247,2.493276,51.771374,1412.447646,0.039384,57.505283,30.374640,112.923151
std,6.741891,4.411142,1.359183,20.244505,575.922403,0.019243,31.361880,14.898435,84.122060
min,0.000000,3.100000,0.000000,7.000000,106.000000,0.003000,9.000000,8.000000,1.000000
25%,6.000000,14.300000,1.400000,36.000000,892.000000,0.026000,36.000000,20.000000,38.000000
50%,12.000000,16.788287,2.400000,50.000000,1577.000000,0.039000,52.000000,26.000000,101.000000
75%,18.000000,19.000000,3.400000,68.000000,1995.000000,0.052000,70.000000,37.000000,158.000000
max,23.000000,30.000000,8.000000,99.000000,2000.000000,0.112000,269.000000,90.000000,431.000000